:root {
  --primary-color: red;
  --secondary-color: rgb(158, 0, 0);
  --main-bgc: #f0f2f5;
  --text-color: #333;
  --border-radius: 5px;
  
  --color-maroon: #800000;
  --color-mustard: #D4A017;
  --color-olive: #556B2F;
  --color-dusty-rose: #C08081;
  --color-cream: #FFFDD0;
  --color-teal: #367588;
  --color-teal-light: #367588;
  --color-sienna: #E97451;
  --color-sienna-light: #e97551;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  user-select: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--main-bgc);
  /* background: linear-gradient(45deg, var(--color-teal-light), var(--color-sienna-light)); */
  
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth Styles */

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 100vw, 350px);
  gap: 10px;
  
  height: 100vh;
  padding: clamp(20px, 20vw, 30px);
  background: white;
  /* border-radius: 10px; */
  /* border: 2px solid rgba(221, 221, 221, 0.6); */
  /* backdrop-filter: blur(10px); */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.9); */
}

.auth-form h2 {
  margin-bottom: 20px;
  color: var(--color-teal);
  text-align: left;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#newButton {
  /* width: 40%; */
  font-weight: 700;
  background-color: #ffffff;
  color: var(--color-teal);
  color: transparent;
  font-size: 14px;
  background: linear-gradient(to right, var(--color-teal-light), var(--color-sienna-light));
  background-clip: text;
  margin: 0;
  padding: 0;
  /* border: 2px solid var(--color-teal);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; */
}

#enterButton {
  width: 100%;
  padding: 12px;
  background-color: #075e54;
  background-color: var(--color-teal);
  background: linear-gradient(to right, var(--color-teal), var(--color-sienna));
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.auth-form #enterButton:hover {
  background-color: var(--color-hover-teal);
}

.auth-form p {
  text-align: center;
}

.auth-form a {
  color: #075e54;
  text-decoration: none;
}
.status-message {
  color: var(--color-sienna-light);
  font-size: small;
  /* align-self: self-start; */
  /* margin: 10px; */
  /* border: 1px solid #000; */
}
